<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chou.easyspringboot.multipledatasource.mapper.ds2.TeacherMapper">
    <resultMap id="teacherResultMap" type="com.chou.easyspringboot.multipledatasource.entity.Teacher">
        <id column="id" jdbcType="VARCHAR" property="teacherNum"></id>
        <result column="name" jdbcType="VARCHAR" property="name"></result>
        <result column="class" jdbcType="VARCHAR" property="className"></result>
    </resultMap>

    <select id="selectAllTeachers" resultMap="teacherResultMap">
        select id, name, class from teacher;
    </select>
</mapper>
